USE [master]
GO
/****** Object:  Database [projeler]    Script Date: 19.5.2015 15:08:13 ******/
CREATE DATABASE [projeler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projeler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ONURUZUN\MSSQL\DATA\projeler.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'projeler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ONURUZUN\MSSQL\DATA\projeler_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projeler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projeler]
GO
/****** Object:  Table [dbo].[gorevli]    Script Date: 19.5.2015 15:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[gorevli](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](50) NULL,
	[soyad] [varchar](10) NULL,
	[tel] [char](15) NULL,
	[email] [varchar](150) NULL,
	[gorev] [varchar](50) NULL,
 CONSTRAINT [PK_gorevli] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proje]    Script Date: 19.5.2015 15:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gorevBasligi] [varchar](150) NULL,
	[gorevAdi] [varchar](150) NULL,
	[baslangic] [varchar](15) NULL,
	[bitis] [varchar](15) NULL,
	[durum] [int] NULL,
 CONSTRAINT [PK_proje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
